sphinx==7.2.6
sphinx-rtd-theme==2.0.0
numpy >=1.24.4, <2.0
matplotlib >=3.7.1
seaborn >=0.12.2
scanpy==1.9.4
pandas >=1.1.1, !=2.1.2
scipy>=1.11.2
seaborn>=0.13.0
h5py>=3.7.0
tqdm
scikit-learn>=0.24
anndata >=0.9.2
mycolorpy >=1.5.1
# dependency from github
git+https://github.com/aybugealtay/scATAcat.git
